.goBackLink {
  color: antiquewhite;
  font-weight: bolder;
  font-size: x-large;
  text-shadow: 1px 1px #4d4d4d;
  padding: 20px;
}

.background {
  min-height: 100%;
  flex-grow: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.small-image {
  border: 5px solid white;
  margin: 20px;
}

.title {
  font-weight: bold;
  color: antiquewhite;
  text-shadow: 1px 1px #4d4d4d;
}

.description {
  color: antiquewhite;
}

.rating {
  color: black;
  font-weight: bolder;
  background-color: antiquewhite;
  max-width: fit-content;
  max-height: fit-content;
  border-radius: 7px;
}

@media (min-width: 320px) and (max-width: 668px) {
  .small-image {
    margin-top: 100px;
    border: 5px solid white;
    width: 154px;
  }

  .movie-content {
    flex-direction: row;
    padding-left: 20px;
  }
}

@media (min-width: 669px) {
  .small-image {
    margin-top: 100px;
  }

  .grid-content {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
  }
  .movie-content {
    display: grid;
    margin-top: 50%;
  }
}
